node_modules/
dist/
dist-ssr/
build/
*.local
.env

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

__pycache__/
*.pyc
*.pyo
venv/
.env
db.sqlite3
*.sqlite3

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db

*.swp
*.swo